.containert {
  background-image: url("http://localhost:3000/static/media/banner-img.bb3ed7afbafc50e5bec9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.7);
}
.noback{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
