.register-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .register-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .register-label {
    font-weight: bold;
  }
  
  .register-input {
    padding: 5px;
  }
  
  .register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .logBtn {
    font-size: 1.2rem;
    margin: 10px 0;
    padding: 2px 2px;
    border: none;
    outline: none;
    &:hover {
      background-color:  #e1c2a8;
    }
  }