@import "../../../css-config/mixins.scss";


.category {
  background-color: transparent;
  min-width: 150px;
  min-height: 250px;
  cursor: pointer;
  overflow: hidden;
  @include md {
    width: calc(30% - 10px);
  }
  p {
    margin: 0px 15px;
    text-align: center;
    font-size: 1.2em;
  }
  img {
    width: 100%;
    display: block;
    transition: all ease 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}
