.thumbnail-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 2px;
  }
  
  .thumbnail {
    width: 80px;
    height: 80px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .thumbnail.active {
    border-color: #f90;
  }
  
  .main-image-container {
    flex: 1;
    margin-left: 20px;
    .ReactImageMagnifyLens {
      width: 150px;  
      height: 10px;  
    }
  }